<h2 mat-dialog-title>{{tituloAccion}} Producto</h2>

<mat-dialog-content>
    <form [formGroup]="formularioProducto">

    <mat-grid-list cols="1" rowHeight="80px">
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Nombre </mat-label>
                <mat-icon matPrefix>person</mat-icon>

                <input matInput autocomplete="off" formControlName="nombre">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>categoria</mat-label>
                <mat-icon matPrefix>category</mat-icon>

                <mat-select formControlName="idCategoria">
                    <mat-option *ngFor="let item of ListarCategoria" [value]="item.idCategoria">
                        {{item.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>stock </mat-label>
                <mat-icon matPrefix>store</mat-icon>

                <input matInput autocomplete="off" formControlName="stock">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>precio </mat-label>
                <mat-icon matPrefix>attach_money</mat-icon>

                <input matInput autocomplete="off" formControlName="precio">
            </mat-form-field>
        </mat-grid-tile>
       
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>help_outline</mat-icon>

                <mat-label>Estado</mat-label>
                <mat-select formControlName="esActivo">
                    <mat-option value="1">Activo</mat-option>
                    <mat-option value="0">No Activo</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>
</form>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary" 
        [disabled]="formularioProducto.invalid"
        (click)="guardarEditar_Producto()"
    >{{botonAccion}}</button>
</mat-dialog-actions>